*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: 'PT Sans', sans-serif;
}

/********* Inicio Menú de navegación *********/
header{
    width: 100%;
    background-color: #323676;
}

.title{
    width: 100%;
    background-color:#7F81B1;
    margin: auto;
    padding: 30px;
}

.title h1{
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

#btn-menu, .icono{
    display: none;
}

header label .icono{
    display: none;
    font-size: 30px;
    color: #FFF;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label .icono:hover{
    cursor: pointer;
    background-color: #7F81B1;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu li{
    border-right: 1px solid #FFF;
    text-align: center;
    flex-grow: 1;
}

.menu li:hover{
    background-color: #A3A7D4;
}

.menu li a{
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
}
/********* Fin menú de navegación *********/


/******* Inicio Login & registro ******/
.container{
    background-image: url("img/fondo-web.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.logo, .login{
    width: 30%;
    height: 70%;
}

.logo img{
    max-width: 80%;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 1%;
    margin-left: 10%;
    background: rgb(220, 220, 220, 0.5);
    border: ridge;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

h1{
    text-align: center;
    padding: 5%;
    font-size: 25px;
}

.datos{
    margin-bottom: 10px;
    width: 90%;
    margin: 2%;
    padding: 6px;
    box-shadow: 3px 8px 10px -7px rgba(0,0,0,1)
}

.btn, .btn2{
    cursor: pointer;
    padding: 3%;
    margin: 3%;
    width: 200px;
    color: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn{
    margin-top: 5%;
    background-color: #323676;
}

.btn2{
    background-color: #EC2E2E;
}

.recuperar{
    margin:7%;
}

p{
    margin:3%;
}
/******* Fin Login & registro ******/


    /********** Caja de post **********/
.divPrincipalPublicar {
    width: 400px;
    height: 80px;
    margin-left: 60px;
    background-color: #E0E2FA;
    top:15px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    z-index: 3;
    position: absolute;
}

.inputPost{
    width: 400px;
    height: 80px;
    background-color: #E0E2FA;
} 

.divPrincipalImg {
    height: 120px;
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
    padding: 20px;
    z-index: 3;
    position: relative;
}

section {
    float: right;
    width: 90%;
}

section div img {
    float: left;
    width: 60px;
    height: 60px;
}

section div textarea {
    width: 40px;
    height: 60px;
    border: none;
    padding: 5px 10px;
    font-family: arial;
    resize: none;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 2px
}

section div [type = submit] {
    float: right;
    margin: 15px 10px auto auto;
    border: none;
    background-color: #0077CC;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 16px;
}
 
.post {
    background-color: #fff;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    color: #333; 
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 3px;
}
/********** Fin caja de post **********/


/* Botones de post */
.btn-publicar{
    width: 35px;
    height:35px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 60px;
}
.btn-eliminar{
    width: 35px;
    height:35px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 60px;
    margin-bottom: 10px;
}
.btn-editar{
    width: 35px;
    height:35px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 105px;
    margin-bottom: 10px;
}
.btn-megusta{
    width: 35px;
    height:35px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 150px;
    margin-bottom: 10px;
}
.numeros-megusta{
    width: 35px;
    height:35px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 170px;
    margin-bottom: 1px;
}

.icono-post{
    width: 40px;
    height:40px
}


/* ------- EDITAR BOTON CONFIRMAR/CANCELAR --------  */
.containerEditHide{
    display: none;
}
.containerEditShow{
    display: block;
}
.tips-font{
    color: #EC2E2E;
    cursor: pointer;
}


/****** Footer *******/
/* footer{
    width: 100%;
    position: fixed;
    clear: both;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #323676;
    
}

footer p{
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-size: 13px;
} */


/* Responsive para celular */
 @media (max-width:700px) {
   /* Login & registro */
   .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        height: 30%;
    }
    .logo img{
        max-width: 100%;
        margin: 60px 10%; 
    }
    .login{
        display: flex;
        justify-content: center;
        border: none;
        background: transparent;
        margin-left: 0;
    }
    h1{
        display: none;
    }
    .datos{
        margin: 10px;
        width: 80%;
    }
    .btn{
        margin-top: 30px;
    }
    .btn, .btn2{
        height: 35px;
        width: 80%;
    }
  
    /* Página de home */
    .title{
        display: none;
    }
    header label .icono{
        display: block;
        color: #FFF;
    }
    .menu{
        z-index: 100;
        position: absolute;
        overflow: visible;
        background: #323676;
        width: 50%;
        margin-left: -50%;
        transition: all 0.5s ;
        -webkit-transition: all 0.5s ;
        -moz-transition: all 0.5s ;
        -ms-transition: all 0.5s ;
        -o-transition: all 0.5s ;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        text-align: left;
        border-top: 1px solid #FFF;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
    .divPrincipalImg{
        width: 280px;
        left: -7%;
    }
    .tips-font{
        font-size: 12px;
    }
}

/********** Responsive para tablet **************/
@media (min-width:701px) and (max-width:1200px){
    /* Login & registro */
    .logo{
        height: 50%;
    }
    .login{
        max-width: 40%;
    }
    p, a{
        text-align: center;
    }
}
